html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  height: 100%;
}
.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 34px;
  margin-bottom: 58px;
}
.logo-text {
  margin-left: 18px;
}
.banderogus-container {
  padding: 60px 56px;
  align-self: center;
  background: #ffffff;
}
.banderogus-greeting {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1B1D1F;
}
.banderogus-start-text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #FF6B0A;
}
.banderogus-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1B1D1F;
}
.banderogus-description {
  margin-top: 24px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1D1F;
}
.bandergus-launch {
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  background: #FF6B0A;
}
.container-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.banderogus-image {
  align-self: flex-end;
}
.gus-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 0 72px 0;
}
.gus-title {
  margin: 16px 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  color: #1B1D1F;
}
.gus-description {
  width: 875px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1B1D1F;
}
.gus-facts-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}
.gus-facts-item {
  width: 33%;
}
.gus-fact-title {
  margin: 12px 0 32px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #1B1D1F;
}
.gus-fact-description {
  font-weight: 400;
  font-size: 16px;
  width: 280px;
  line-height: 24px;
  color: #1B1D1F;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  margin-bottom: 72px;
  padding: 72px 0;
  background: linear-gradient(270deg, #D3EFFF 0%, #FFFFFF 100%);
}
.footer-title {
  margin: 16px 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  color: #1B1D1F;
}
.footer-description {
  width: 875px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1B1D1F;
}